.addTrips {
  background-color: rgba(0, 0, 0, 0.478);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  & .containerAddTrip {
    width: 50%;
    height: 60%;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    display: flex;
    position: relative;
    & .selectImage {
      width: 40%;
      height: 100%;
      border-radius: 12px;
      & img {
        background-color: gray;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
      & span {
        display: inline-block;
        margin-top: 8px;
        background-color: #55c875;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 15px;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
      }
    }
    & form {
      margin-left: 1rem;
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 60%;
      //   height: 60%;
      max-height: 100%;
      & .inputField {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        margin-right: 1rem;
        & label {
          color: #696f79;
          font-size: 12px;
          font-weight: 500;
          transition: 0.3s;
          margin-bottom: 8px;
        }
        & input {
          width: 80%;
          height: 35px;
          border: none;
          background-color: transparent;
          outline: none;
          border: 1.5px solid #8692a6;
          padding: 0 14px;
          border-radius: 6px;
          transition: 0.3s;
          font-size: 12px;
          &:focus {
            border: 1.5px solid #1565d8;
            box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
          }
          &::placeholder {
            font-size: 11px;
          }
        }
      }
      & textarea {
        height: 120px;
        width: 200%;
        border: 1.5px solid #8692a6;
        background-color: transparent;
        padding: 10px;
        border-radius: 6px;
        transition: 0.3s;
        font-size: 12px;
        outline: none;
        margin-bottom: 2.5rem;
        &:focus {
          border: 1.5px solid #1565d8;
          box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
        }
        &::placeholder {
          font-size: 11px;
        }
      }
      & .errorInputField {
        & label {
          color: red;
        }
        & input {
          border: 1.5px solid red;
        }
        & input:focus {
          border: 1.5px solid red;
          box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
        }
        & input::placeholder {
          color: red;
        }
      }
      & button {
        position: absolute;
        bottom: 20px;
        right: 25px;
        padding: 10px 25px;
        border-radius: 8px;
        color: #fff;
        background-color: #55c875;
        border: 1.5px solid #55c875;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
      }
    }
    & .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      & img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
