.home {
    padding: 20px;
    height: calc(100vh - 20px);
    & .infoAccount {
        display: flex;
        & .content {
            width: 80%;
            & .trips {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
        }
    }
}