body {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.addTeamContainer {
  display: flex;
  align-items: center;
}

.containerLogoSearch {
  background-color: #d9d9d9;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 1rem;

}

.containerLogoSearch img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.searchInput {
  width: 0;
  padding: 8px;
  border: none;
  background-color: transparent;
  transition: width 0.3s ease;
  outline: none;
}

.containerLogoSearch:hover .searchInput,
.containerLogoSearch:focus-within .searchInput {
  width: 250px;
}
